# pandas ( numpy 관점 )

## 정리해보자면 판다스에서 row, column indexing의 방법은 다섯가지가 있다
1. key방식  
가장기본적인 방식이다
2. attribute 방식  
편하게 쓰기위해서 판다스에서 지원했지만 사이즈나 공백이 똑같은 이름이 있을때 잘동작하지않음 추천하지않는다
3. fancy indexing  
데이터 프레임으로가져온다 (good)
4. loc 방식  
이름을 맞춰서 가져오는 방식
5. iloc 방식  
인덱스를 맞춰서 가져오는 방식, 인덱스이기 때문에 마지막 꺼 안가져옴 예르들어 3:6 이면 3,4,5 행을 가져온다.  
속도자체는 numpy에서 가져온 key방식이 가장 빠르다고한다

In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')
#연습데이터 불러오기

In [4]:
tips
#structured array방식

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
type(tips)

pandas.core.frame.DataFrame

In [8]:
tips['day']
#열을 뽑고 싶을 때 키로 접근!

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
5       Sun
6       Sun
7       Sun
8       Sun
9       Sun
10      Sun
11      Sun
12      Sun
13      Sun
14      Sun
15      Sun
16      Sun
17      Sun
18      Sun
19      Sat
20      Sat
21      Sat
22      Sat
23      Sat
24      Sat
25      Sat
26      Sat
27      Sat
28      Sat
29      Sat
       ...
214     Sat
215     Sat
216     Sat
217     Sat
218     Sat
219     Sat
220     Fri
221     Fri
222     Fri
223     Fri
224     Fri
225     Fri
226     Fri
227     Sat
228     Sat
229     Sat
230     Sat
231     Sat
232     Sat
233     Sat
234     Sat
235     Sat
236     Sat
237     Sat
238     Sat
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [10]:
tips.smoker
#판다스에서는 어트리뷰트 방식으로도 접근이 가능하다!

0       No
1       No
2       No
3       No
4       No
5       No
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21      No
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
      ...
214    Yes
215    Yes
216    Yes
217    Yes
218    Yes
219    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
227     No
228     No
229    Yes
230    Yes
231    Yes
232     No
233     No
234    Yes
235     No
236    Yes
237    Yes
238     No
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No]

In [11]:
tips.size
#size데이터를 불러오는게아니라 
#size메소드를 불러와버림.
#넘파이 기반이기 때문에!

1708

In [12]:
#이럴때는 key 방식으로 불러오자!
tips['size']

0      2
1      3
2      3
3      2
4      4
5      4
6      2
7      4
8      2
9      2
10     2
11     4
12     2
13     4
14     2
15     2
16     3
17     3
18     3
19     3
20     2
21     2
22     2
23     4
24     2
25     4
26     2
27     2
28     2
29     2
      ..
214    3
215    2
216    5
217    2
218    2
219    4
220    2
221    2
222    1
223    3
224    2
225    2
226    2
227    4
228    2
229    2
230    4
231    3
232    2
233    2
234    2
235    2
236    2
237    2
238    3
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [14]:
tips[1]
#넘파이에서는 이름을 무조건 스트링으로만 오게했었는데
#판다스에서는 이름도 숫자타입으로 올수있게 했긷=때문에
#튜플을 이런식응로 찾을 수 없어.

KeyError: 1

In [15]:
tips.iloc[0]
#iloc를 하나 더 붙이고 행을 뽑아내야한다!

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [16]:
#결론 : 우리가 분석할 데이터 구조는 structured array에 기반한다

In [17]:
#판다스는 2차원의 직사각형 형태 데이터구조를 갖는다
#효율적이기때문에
#테이블 전체 : 데이터프레임
#맨왼쪽 세로 : 인덱스
#맨위 가로 : 헤더, 또는 컬럼
#한줄 (가로, 세로 방향상관X): 시리즈
#값은 모두 numpy array

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [18]:
#attribute방식은 넘파이에서는 지원안해줬어
#판다스에서는 지원해주지만
#size같은 메소드이름이랑 같은 헤더나, 공백이 있는 애는 ㅅ쓸수없어.
#키 방식으로 접근해야해.

In [19]:
tips = sns.load_dataset('tips')

In [20]:
#numpy의 fancy indexing 기능 지원
tips[['day','time']]

      day    time
0     Sun  Dinner
1     Sun  Dinner
2     Sun  Dinner
3     Sun  Dinner
4     Sun  Dinner
5     Sun  Dinner
6     Sun  Dinner
7     Sun  Dinner
8     Sun  Dinner
9     Sun  Dinner
10    Sun  Dinner
11    Sun  Dinner
12    Sun  Dinner
13    Sun  Dinner
14    Sun  Dinner
15    Sun  Dinner
16    Sun  Dinner
17    Sun  Dinner
18    Sun  Dinner
19    Sat  Dinner
20    Sat  Dinner
21    Sat  Dinner
22    Sat  Dinner
23    Sat  Dinner
24    Sat  Dinner
25    Sat  Dinner
26    Sat  Dinner
27    Sat  Dinner
28    Sat  Dinner
29    Sat  Dinner
..    ...     ...
214   Sat  Dinner
215   Sat  Dinner
216   Sat  Dinner
217   Sat  Dinner
218   Sat  Dinner
219   Sat  Dinner
220   Fri   Lunch
221   Fri   Lunch
222   Fri   Lunch
223   Fri   Lunch
224   Fri   Lunch
225   Fri   Lunch
226   Fri   Lunch
227   Sat  Dinner
228   Sat  Dinner
229   Sat  Dinner
230   Sat  Dinner
231   Sat  Dinner
232   Sat  Dinner
233   Sat  Dinner
234   Sat  Dinner
235   Sat  Dinner
236   Sat  Dinner
237   Sat  Dinner
238   Sat  Dinner
239   Sat  Dinner
240   Sat  Dinner
241   Sat  Dinner
242   Sat  Dinner
243  Thur  Dinner

[244 rows x 2 columns]

In [22]:
tips.day
#왼쪽 : index
#오른쪽 : numpy의 array

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
5       Sun
6       Sun
7       Sun
8       Sun
9       Sun
10      Sun
11      Sun
12      Sun
13      Sun
14      Sun
15      Sun
16      Sun
17      Sun
18      Sun
19      Sat
20      Sat
21      Sat
22      Sat
23      Sat
24      Sat
25      Sat
26      Sat
27      Sat
28      Sat
29      Sat
       ...
214     Sat
215     Sat
216     Sat
217     Sat
218     Sat
219     Sat
220     Fri
221     Fri
222     Fri
223     Fri
224     Fri
225     Fri
226     Fri
227     Sat
228     Sat
229     Sat
230     Sat
231     Sat
232     Sat
233     Sat
234     Sat
235     Sat
236     Sat
237     Sat
238     Sat
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [23]:
type(tips.day)

pandas.core.series.Series

In [24]:
tips.day.values

[Sun, Sun, Sun, Sun, Sun, ..., Sat, Sat, Sat, Sat, Thur]
Length: 244
Categories (4, object): [Thur, Fri, Sat, Sun]

In [26]:
#numpy의 브로드캐스팅 지원
tips.tip+5

0       6.01
1       6.66
2       8.50
3       8.31
4       8.61
5       9.71
6       7.00
7       8.12
8       6.96
9       8.23
10      6.71
11     10.00
12      6.57
13      8.00
14      8.02
15      8.92
16      6.67
17      8.71
18      8.50
19      8.35
20      9.08
21      7.75
22      7.23
23     12.58
24      8.18
25      7.34
26      7.00
27      7.00
28      9.30
29      8.00
       ...
214    11.50
215     6.10
216     8.00
217     6.50
218     6.44
219     8.09
220     7.20
221     8.48
222     6.92
223     8.00
224     6.58
225     7.50
226     7.00
227     8.00
228     7.72
229     7.88
230     7.00
231     8.00
232     8.39
233     6.47
234     8.00
235     6.25
236     6.00
237     6.17
238     9.67
239    10.92
240     7.00
241     7.00
242     6.75
243     8.00
Name: tip, Length: 244, dtype: float64

In [42]:
#numpy의 reduction 지원
tips.tip.sum()

731.5799999999999

In [ ]:
#행가져오는법
#iloc : 인덱스로가져옴. 끝에있는거 포함X
#loc : 이름으로 가져옴. 끝에애ㅣㅆ는거 포함O

In [28]:
tips.iloc[3] #indexlocation, 즉 번호대로 가져옴

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [29]:
tips.iloc[3:6]
#numpy기반이므로 슬라이싱 가능

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [31]:
tips.loc[3:6]
#얘는 6까지 포함핻줌

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

In [33]:
tips.loc[3,'day'] #3번째의 day rkwudha

'Sun'

In [36]:
tips.loc[3:6,['day', 'smoker']]
#콤마도 지원~

   day smoker
3  Sun     No
4  Sun     No
5  Sun     No
6  Sun     No

In [38]:
tips.loc[3:6,['smoker','day']]
#순서바꿔서 가져오는것도 가능

  smoker  day
3     No  Sun
4     No  Sun
5     No  Sun
6     No  Sun

In [39]:
tips.iloc[3:6,:-2] #콤마 인덱싱, 콤마슬라이싱 지원

   total_bill   tip     sex smoker  day
3       23.68  3.31    Male     No  Sun
4       24.59  3.61  Female     No  Sun
5       25.29  4.71    Male     No  Sun

In [40]:
tips.iloc[3:6,::-1]

   size    time  day smoker     sex   tip  total_bill
3     2  Dinner  Sun     No    Male  3.31       23.68
4     4  Dinner  Sun     No  Female  3.61       24.59
5     4  Dinner  Sun     No    Male  4.71       25.29

In [41]:
#어트리븉방식, 키방식 펜시인덱싱 방식
tips[['tip']]

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
10   1.71
11   5.00
12   1.57
13   3.00
14   3.02
15   3.92
16   1.67
17   3.71
18   3.50
19   3.35
20   4.08
21   2.75
22   2.23
23   7.58
24   3.18
25   2.34
26   2.00
27   2.00
28   4.30
29   3.00
..    ...
214  6.50
215  1.10
216  3.00
217  1.50
218  1.44
219  3.09
220  2.20
221  3.48
222  1.92
223  3.00
224  1.58
225  2.50
226  2.00
227  3.00
228  2.72
229  2.88
230  2.00
231  3.00
232  3.39
233  1.47
234  3.00
235  1.25
236  1.00
237  1.17
238  4.67
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [43]:
%time tips.tip

CPU times: user 56 µs, sys: 1 µs, total: 57 µs
Wall time: 62 µs

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [45]:
%time tips[['tip']]

CPU times: user 1.3 ms, sys: 77 µs, total: 1.37 ms
Wall time: 1.33 ms

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
10   1.71
11   5.00
12   1.57
13   3.00
14   3.02
15   3.92
16   1.67
17   3.71
18   3.50
19   3.35
20   4.08
21   2.75
22   2.23
23   7.58
24   3.18
25   2.34
26   2.00
27   2.00
28   4.30
29   3.00
..    ...
214  6.50
215  1.10
216  3.00
217  1.50
218  1.44
219  3.09
220  2.20
221  3.48
222  1.92
223  3.00
224  1.58
225  2.50
226  2.00
227  3.00
228  2.72
229  2.88
230  2.00
231  3.00
232  3.39
233  1.47
234  3.00
235  1.25
236  1.00
237  1.17
238  4.67
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [47]:
%time tips['tip']
#key 방식이 제일 빠르고 문제가 없어.
#쓰기 쫌 귀찮을 뿐

CPU times: user 26 µs, sys: 0 ns, total: 26 µs
Wall time: 31 µs

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [53]:
%time tips.loc[3, 'tip']

CPU times: user 69 µs, sys: 0 ns, total: 69 µs
Wall time: 75.1 µs

3.31

In [54]:
%time tips.iat[3,5]
#인덱스로 하나 가져오는애
#항상 i 붙은애가 더 빨라
#상황에따라서 쓴다 ㅋㅋ

CPU times: user 97 µs, sys: 1e+03 ns, total: 98 µs
Wall time: 104 µs

'Dinner'

In [55]:
%time tips.at[3, 'time']
#이름으로 하나 가져오는애

CPU times: user 140 µs, sys: 1e+03 ns, total: 141 µs
Wall time: 147 µs

'Dinner'

In [56]:
#행뽑는애 3개
#열뽑는애 2개  : iloc, loc
#특정값뽑는애 4개 : iloc, loc, iat, at

In [57]:
#pandas는 데이터 프리프로세싱, EDA(탐색적 데이터분석) 하는애
#기초분석하는 도구
#데이터 랭글링,데이터 먼징 (데이터를 불러와서 합치고, 전처리하고, 기초분석까지 하는것) 툴

In [59]:
#이제 pandas(analysis) 로 넘어가